<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501562581305-03ljfi4jmbhut1hc260jc25h27kte5vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501562581305-03ljfi4jmbhut1hc260jc25h27kte5vu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501562581305-4bqq9d4690k093n99c1b156tibv5ovnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-WaBWYbHVrq-mk2NfSdkNEFm_xb1eTK0</string>
	<key>GCM_SENDER_ID</key>
	<string>501562581305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-ec34a</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-ec34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501562581305:ios:b04fd07d54a4387eb388e8</string>
</dict>
</plist>